// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {color:blue;
	border-style:solid;
	border-width:2px;
    border-color:gray;
	padding:4px;}

